<section class="album-covers container">
  <div class="clearfix" ng-controller="CollectionController">
    <!-- Repeating template container -->
    <div class="collection-album-container column fourth" ng-repeat="album in albums track by $index">
      <!-- Album art image / Link to album page -->
      <a ui-sref="album" ng-click="setCurrentAlbum(album.artist)">
        <img ng-src="{{album.albumArtUrl}}">
      </a>
      <div class="collection-album-info caption" ng-click="setCurrentAlbum(album.artist)">
        <p>

          <!-- Album Name / Link to album page -->
          <a class="album-name" ui-sref="album"> {{ album.name }} </a>
          <br>
          <!-- Artist Name / Link to album page -->
          <a ui-sref="album">{{ album.artist }}</a>
          <br>
          <!-- Song File List Length -->
          {{album.song.length}} songs
        </p>
      </div>
    </div>
</section>
